<form method="post">
  pH: <input type="number" step="0.01" name="ph"><br>
  Hardness: <input type="number" name="hardness"><br>
  Solids: <input type="number" name="solids"><br>
  Chloramines: <input type="number" name="chloramines"><br>
  Sulfate: <input type="number" name="sulfate"><br>
  Conductivity: <input type="number" name="conductivity"><br>
  Organic Carbon: <input type="number" name="organic_carbon"><br>
  Trihalomethanes: <input type="number" name="trihalomethanes"><br>
  Turbidity: <input type="number" name="turbidity"><br>
  <input type="submit" value="Predict">
</form>
